/* style.css */
body {
    background-color: #f0f0f2;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.title {
    color: red;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 24px;
}

p {
    /*width: 80%;*/
    /*margin: auto;*/
    /*margin-top: 20px;*/
    line-height: 1.6;
    text-align: justify;
}


.centered-div {
    margin: auto;
    max-width: 80%;
    border: 0px solid black;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}